*{
    margin: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: greenyellow;

}
.item{
    background-color: aqua;

}
.flex{
    display: flex;
    background-color: blue;
    justify-content: space-evenly;
    /* justify-content: safe;
    justify-content: space-between;
    justify-content: start;
    justify-content: stretch;
*/
}
