

*{
   margin:0
}
.nav{
  
   /* height: 90px; */
   height: 12vh;
   background-color: blueviolet ;
   box-shadow: 2px 2px 2px black;

}
.nav img{
   float: left;
    line-height: 10vh;
    margin-left: 170px;
    margin-top: 20px;
}
.nav ul{
    float: right;
    list-style-type: none ;
    margin-right: 160px;

 }
.nav ul li{
    float: left;
    line-height: 80px;
    margin: 0 10px;

 }
 .nav ul li a{

    text-decoration: none;
    color: white;
 }
.nav ul li a:hover{
    color: tomato;
}
.nav ul li a:active{
   color: purple;
}
.nav ul li a:visited{
   color: skyblue;
}

.content{
   clear: both;
   /* background-color: grey; */
   /* height: 515px; */
   height: 70vh;
}
.card1 , .card2{
   height: 100px;
   width: 100px;
   background-color: white;
   margin-top: 25vh;
   border-radius: 8px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.card1{
   float: left;
   margin-left: 176px;
   
}
.card2{
   float: right;
   margin-right: 176px;
}



.footer{
   background-color: blueviolet;
   /* height: 100px; */
   height: 18vh;
}